# Virtual environment
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Django secret key
.env

# Static and media files
/static/
/media/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~
